In [15]:
import pandas
from sklearn import tree

In [32]:
data = pandas.read_csv('titanic.csv')

data = data[pandas.notnull(data['Survived'])]
data = data[pandas.notnull(data['Age'])]
data = data[pandas.notnull(data['Fare'])]
data = data[pandas.notnull(data['Pclass'])]
data = data[pandas.notnull(data['Sex'])]


data['SexN'] = data['Sex'].map({'female': 1, 'male': 0})

my_data = data[['Pclass' , 'Fare', 'Age', 'SexN', 'Survived']]

In [33]:
X = my_data[['Pclass' , 'Fare', 'Age', 'SexN']].values
Y = my_data[['Survived']].values.flatten()
clf = tree.DecisionTreeClassifier(random_state=123)

my_data.shape

my_data

     Pclass      Fare   Age  SexN  Survived
0         3    7.2500  22.0     0         0
1         1   71.2833  38.0     1         1
2         3    7.9250  26.0     1         1
3         1   53.1000  35.0     1         1
4         3    8.0500  35.0     0         0
6         1   51.8625  54.0     0         0
7         3   21.0750   2.0     0         0
8         3   11.1333  27.0     1         1
9         2   30.0708  14.0     1         1
10        3   16.7000   4.0     1         1
11        1   26.5500  58.0     1         1
12        3    8.0500  20.0     0         0
13        3   31.2750  39.0     0         0
14        3    7.8542  14.0     1         0
15        2   16.0000  55.0     1         1
16        3   29.1250   2.0     0         0
18        3   18.0000  31.0     1         0
20        2   26.0000  35.0     0         0
21        2   13.0000  34.0     0         1
22        3    8.0292  15.0     1         1
23        1   35.5000  28.0     0         1
24        3   21.0750   8.0     1         0
25        3   31.3875  38.0     1         1
27        1  263.0000  19.0     0         0
30        1   27.7208  40.0     0         0
33        2   10.5000  66.0     0         0
34        1   82.1708  28.0     0         0
35        1   52.0000  42.0     0         0
37        3    8.0500  21.0     0         0
38        3   18.0000  18.0     1         0
..      ...       ...   ...   ...       ...
856       1  164.8667  45.0     1         1
857       1   26.5500  51.0     0         1
858       3   19.2583  24.0     1         1
860       3   14.1083  41.0     0         0
861       2   11.5000  21.0     0         0
862       1   25.9292  48.0     1         1
864       2   13.0000  24.0     0         0
865       2   13.0000  42.0     1         1
866       2   13.8583  27.0     1         1
867       1   50.4958  31.0     0         0
869       3   11.1333   4.0     0         1
870       3    7.8958  26.0     0         0
871       1   52.5542  47.0     1         1
872       1    5.0000  33.0     0         0
873       3    9.0000  47.0     0         0
874       2   24.0000  28.0     1         1
875       3    7.2250  15.0     1         1
876       3    9.8458  20.0     0         0
877       3    7.8958  19.0     0         0
879       1   83.1583  56.0     1         1
880       2   26.0000  25.0     1         1
881       3    7.8958  33.0     0         0
882       3   10.5167  22.0     1         0
883       2   10.5000  28.0     0         0
884       3    7.0500  25.0     0         0
885       3   29.1250  39.0     1         0
886       2   13.0000  27.0     0         0
887       1   30.0000  19.0     1         1
889       1   30.0000  26.0     0         1
890       3    7.7500  32.0     0         0

[714 rows x 5 columns]

In [34]:
clf = clf.fit(X,Y)

In [35]:
clf.feature_importances_

array([0.14000522, 0.30777696, 0.25170561, 0.30051221])

In [36]:
print(dict(zip(my_data.columns, clf.feature_importances_)))

{'Pclass': 0.14000521853124182, 'Fare': 0.30777696359829326, 'Age': 0.25170560691222554, 'SexN': 0.3005122109582393}